[submodule "frustum-pointnets"]
	path = frustum-pointnets
	url = https://github.com/Stormjotne/frustum-pointnets
[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = https://github.com/Stormjotne/Mask_RCNN
